# 1. Environnement virtuel
.venv/
venv/
env/
ENV/

# 2. Caches Python
__pycache__/
*.py[cod]
*$py.class

# 3. Secrets
.env
.env.*
*.pem
*.key

# 5. Fichiers d'éditeur et de système
.vscode/
.idea/
.DS_Store
Thumbs.db

# 6. Artefacts dbt
# Fichiers générés par dbt : logs, résultats compilés, etc.
target/
logs/
